{% load static %}
<html>
    <head>
        <title>Beschluss-Datenbank</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.scss' %}">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="icon" type="image/svg" href="{% static 'logo.svg' %}">
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none text-dark">
                <img class="bi me-2" src="{% static 'logo.svg' %}" width="40" height="40"></img>
                <span class="fs-4">
                    Beschlussdatenbank
                </span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="http://cloud.rote.tools">PORSCHE PANAMERA - KOMM NOCH HEUTE IN DIE GRUPPE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Klick Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://rotes.team">Rotes Team</a>
                </li>
            </ul>
            </header>
        </div>
        <main class="container mt-5" style="min-height: 70vh;">
            <div class="row">
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-header">
                            Beschlüsse normalisieren
                        </div>
                        <div class="card-body">
                            Iteriert über alle vorhandenen Beschlüsse und normalisiert sie. Das bedeutet:
                            <ul>
                                <li>nicht benötigte JSON-TAGS entfernen</li>
                                <li>eindeutige Identifier hinzufügen</li>
                            </ul>
                            <form action="{% url 'admin_menu' %}" method="POST" class="m-0">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" href="{% url 'admin_menu' %}" value="JSON normalisieren"/>
                                <input type="hidden" class="btn btn-primary" href="{% url 'admin_menu' %}" name="option" value="jSoNnOrMaLiSiErEn"/>
                            </form>
                        </div>
                        <div class="card-footer">
                            {% if status.json_normalisieren is not None %}
                            <p class="m-0 text-success">
                                {{status.json_normalisieren}}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-header">
                            Bäume sind Freunde und kein Futter
                        </div>
                        <div class="card-body"></div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mt-2">
                        <div class="card-header">
                            Whoopie di scoop
                        </div>
                        <div class="card-body"></div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </main>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="">
                        <img class="bi me-2" src="{% static 'logo.svg' %}" width="40" height="40"></img>
                    </a>
                    <span class="mb-3 mb-md-0 text-body-secondary">Rote Tools</span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_menu'%}">Admin Menü</a>
                    </li>
                </ul>
            </footer>
        </div>
    </body>
</html>
