// required to get $orange variable
@import "functions"; 
@import "variables";

$primary: #FF00FF; // set the $primary variable

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

// set changes
@import "bootstrap";

.bg-primary{
  background-color: #FF00FF;
}